CASSANDRA_HOST=cassandra
CASSANDRA_PORT=9042
KAFKA_HOST=kafka
KAFKA_PORT=9092
SPARK_MASTER_URL=spark://spark-master:7077
KEYSPACE=wikimedia
TOPIC_NAME=wikimedia.recentchange
KAFKA_CONSUMER_GROUP_ID=wikimedia-cassandra-consumer
KAFKA_AUTO_OFFSET_RESET=latest
CASSANDRA_CONNECT_MAX_RETRIES=10
CASSANDRA_CONNECT_RETRY_WAIT_SECONDS=5
CASSANDRA_INSERT_MAX_RETRIES=3
CASSANDRA_INSERT_RETRY_WAIT_SECONDS=2
RAW_TABLE=recent_changes_raw
AGG_TABLE=changes_by_wiki_hour
ANALYTICS_WRITE_TO_CASSANDRA=false
ANALYTICS_HOST_OUTPUT_PATH=spark/output/changes_by_wiki_hour